*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #2f363e;
}

.clock{/*这是最外层的圆形容器*/
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;/*灵活布局加水平垂直居中可以实现居中效果*/
    box-shadow: inset 5px 5px 25px rgba(0,0,0,0.25);/*内投影增加立体感*/
    scale: 2;/*2倍缩放大小*/
    border-radius: 50%;/*设置边框是圆形*/
}

.clock::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: black;
    z-index: 999;
    border: 1px solid white;
    border-radius: 2px;
}

#time{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#time .circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

#time .circle svg{
    position: relative;
    transform: rotate(270deg);
}

#time .circle:nth-child(1) svg{
    width: 250px;
    height: 250px;
}

#time .circle:nth-child(2) svg {
    width: 210px;
    height: 210px;
}

#time .circle:nth-child(3) svg {
    width: 170px;
    height: 170px;
}

#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 5;
    stroke:var(--clr);
    transform: translate(5px,5px);/*设置圆心居中用的*/
    opacity: 25%;
}

#time .circle:nth-child(1) svg circle {
    stroke-dasharray: 760;
    stroke-dashoffset: 760;
}

#time .circle:nth-child(2) svg circle {
    stroke-dasharray: 630;
    stroke-dashoffset: 630;
}

#time .circle:nth-child(3) svg circle {
    stroke-dasharray: 510;
    stroke-dashoffset: 510;
}

.dots{
    width: 100%;
    height: 100%;
    position:absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
}

.dots::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    top: -3px;
    box-shadow: 0 0 20px var(--clr),
    0 0 40px var(--clr),
    0 0 60px var(--clr),
    0 0 80px var(--clr);
}

.needles{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.needles i{
    position: absolute;
    width: 2px;
    background: var(--clr2);
    height: 50%;
    opacity: 0.75;
    border-radius: 6px;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.needles.needle2{
    width: 170px;
    height: 170px;
    z-index: 9;
}

.needles.needle2 i{
    width: 3px;
}

.needles.needle3{
    width: 140px;
    height: 140px;
    z-index: 8;
}

.needles.needle3 i{
    width: 4px;
}

#time span{
    position: absolute;
    inset: 55px;
    text-align: center;
    color: #cccccc;
    font-family: fantasy consolas;
    transform: rotate(calc(30deg * var(--i)));
}

#time span b{
    font-size: 0.75em;
    font-weight: 500;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}